In [254]:
import pandas as pd
import matplotlib as mp
import numpy as np

In [255]:
cityPath = "../Pyber/raw_data/city_data.csv"
cityFile = pd.read_csv(cityPath)

ridePath = "../Pyber/raw_data/ride_data.csv"
rideFile = pd.read_csv(ridePath)

In [256]:
cityFile.head()

             city  driver_count   type
0      Kelseyland            63  Urban
1      Nguyenbury             8  Urban
2    East Douglas            12  Urban
3   West Dawnfurt            34  Urban
4  Rodriguezburgh            52  Urban

In [271]:
rideFile.head()
#cityType = cityFile.drop("driver_count", 1)
#cityType.head()

          city                 date   fare        ride_id
0     Sarabury  2016-01-16 13:49:27  38.35  5403689035038
1    South Roy  2016-01-02 18:42:34  17.49  4036272335942
2  Wiseborough  2016-01-21 17:35:29  44.18  3645042422587
3  Spencertown  2016-07-31 14:53:22   6.87  2242596575892
4   Nguyenbury  2016-07-09 04:42:44   6.28  1543057793673

In [274]:
#join rideFile and cityType on key city

In [259]:
#average fair per city
rideCityGroup = rideFile.groupby("city").mean()
avgFarePerCity = rideCityGroup.drop('ride_id', 1)
avgFarePerCity

                           fare
city
Alvarezhaven          23.928710
Alyssaberg            20.609615
Anitamouth            37.315556
Antoniomouth          23.625000
Aprilchester          21.981579
Arnoldview            25.106452
Campbellport          33.711333
Carrollbury           36.606000
Carrollfort           25.395517
Clarkstad             31.051667
Conwaymouth           34.591818
Davidtown             22.978095
Davistown             21.497200
East Cherylfurt       31.416154
East Douglas          26.169091
East Erin             24.478214
East Jenniferchester  32.599474
East Leslie           33.660909
East Stephen          39.053000
East Troybury         33.244286
Edwardsbury           26.876667
Erikport              30.043750
Eriktown              25.478947
Floresberg            32.310000
Fosterside            23.034583
Hernandezshire        32.002222
Horneland             21.482500
Jacksonfort           32.006667
Jacobfort             24.779355
Jasonfort             27.831667
...                         ...
South Roy             26.031364
South Shannonborough  26.516667
Spencertown           23.681154
Stevensport           31.948000
Stewartview           21.614000
Swansonbury           27.464706
Thomastown            30.308333
Tiffanyton            28.510000
Torresshire           24.207308
Travisville           27.220870
Vickimouth            21.474667
Webstertown           29.721250
West Alexis           19.523000
West Brandy           24.157667
West Brittanyton      25.436250
West Dawnfurt         22.330345
West Evan             27.013333
West Jefferyfurt      21.072857
West Kevintown        21.528571
West Oscar            24.280000
West Pamelaborough    33.799286
West Paulport         33.278235
West Peter            24.875484
West Sydneyhaven      22.368333
West Tony             29.609474
Williamchester        34.278182
Williamshire          26.990323
Wiseborough           22.676842
Yolandafurt           27.205500
Zimmermanmouth        28.301667

[125 rows x 1 columns]

In [260]:
# total rides per city
rideCityGroupCount = rideFile.groupby("city").count()
ridesPerCity = rideCityGroupCount.drop(['date','fare'], 1)
ridesPerCity

                      ride_id
city
Alvarezhaven               31
Alyssaberg                 26
Anitamouth                  9
Antoniomouth               22
Aprilchester               19
Arnoldview                 31
Campbellport               15
Carrollbury                10
Carrollfort                29
Clarkstad                  12
Conwaymouth                11
Davidtown                  21
Davistown                  25
East Cherylfurt            13
East Douglas               22
East Erin                  28
East Jenniferchester       19
East Leslie                11
East Stephen               10
East Troybury               7
Edwardsbury                27
Erikport                    8
Eriktown                   19
Floresberg                 10
Fosterside                 24
Hernandezshire              9
Horneland                   4
Jacksonfort                 6
Jacobfort                  31
Jasonfort                  12
...                       ...
South Roy                  22
South Shannonborough       15
Spencertown                26
Stevensport                 5
Stewartview                30
Swansonbury                34
Thomastown                 24
Tiffanyton                 13
Torresshire                26
Travisville                23
Vickimouth                 15
Webstertown                16
West Alexis                20
West Brandy                30
West Brittanyton           24
West Dawnfurt              29
West Evan                  12
West Jefferyfurt           21
West Kevintown              7
West Oscar                 29
West Pamelaborough         14
West Paulport              17
West Peter                 31
West Sydneyhaven           18
West Tony                  19
Williamchester             11
Williamshire               31
Wiseborough                19
Yolandafurt                20
Zimmermanmouth             24

[125 rows x 1 columns]

In [261]:
#merge the 2 datasets
result = avgFarePerCity.join(ridesPerCity)
result

                           fare  ride_id
city
Alvarezhaven          23.928710       31
Alyssaberg            20.609615       26
Anitamouth            37.315556        9
Antoniomouth          23.625000       22
Aprilchester          21.981579       19
Arnoldview            25.106452       31
Campbellport          33.711333       15
Carrollbury           36.606000       10
Carrollfort           25.395517       29
Clarkstad             31.051667       12
Conwaymouth           34.591818       11
Davidtown             22.978095       21
Davistown             21.497200       25
East Cherylfurt       31.416154       13
East Douglas          26.169091       22
East Erin             24.478214       28
East Jenniferchester  32.599474       19
East Leslie           33.660909       11
East Stephen          39.053000       10
East Troybury         33.244286        7
Edwardsbury           26.876667       27
Erikport              30.043750        8
Eriktown              25.478947       19
Floresberg            32.310000       10
Fosterside            23.034583       24
Hernandezshire        32.002222        9
Horneland             21.482500        4
Jacksonfort           32.006667        6
Jacobfort             24.779355       31
Jasonfort             27.831667       12
...                         ...      ...
South Roy             26.031364       22
South Shannonborough  26.516667       15
Spencertown           23.681154       26
Stevensport           31.948000        5
Stewartview           21.614000       30
Swansonbury           27.464706       34
Thomastown            30.308333       24
Tiffanyton            28.510000       13
Torresshire           24.207308       26
Travisville           27.220870       23
Vickimouth            21.474667       15
Webstertown           29.721250       16
West Alexis           19.523000       20
West Brandy           24.157667       30
West Brittanyton      25.436250       24
West Dawnfurt         22.330345       29
West Evan             27.013333       12
West Jefferyfurt      21.072857       21
West Kevintown        21.528571        7
West Oscar            24.280000       29
West Pamelaborough    33.799286       14
West Paulport         33.278235       17
West Peter            24.875484       31
West Sydneyhaven      22.368333       18
West Tony             29.609474       19
Williamchester        34.278182       11
Williamshire          26.990323       31
Wiseborough           22.676842       19
Yolandafurt           27.205500       20
Zimmermanmouth        28.301667       24

[125 rows x 2 columns]

In [262]:
#first chunk complete
result = cityFile.join(result,on='city')
result = result.set_index('city')
result.head()

                driver_count   type       fare  ride_id
city
Kelseyland                63  Urban  21.806429       28
Nguyenbury                 8  Urban  25.899615       26
East Douglas              12  Urban  26.169091       22
West Dawnfurt             34  Urban  22.330345       29
Rodriguezburgh            52  Urban  21.332609       23

In [263]:
totalDrivers = result['driver_count'].sum()

In [264]:
#add percDrivers column
# driver_count is number of drivers in city
# ride_id is number of rides in city
# percDrivers is (driver_count/totalDrivers) for each city
# fare is average fare taken from all rides in city

result['percDrivers'] = result.apply(lambda row: (row.driver_count /totalDrivers)*100, axis=1)
result

                      driver_count      type       fare  ride_id  percDrivers
city
Kelseyland                      63     Urban  21.806429       28     1.881159
Nguyenbury                       8     Urban  25.899615       26     0.238877
East Douglas                    12     Urban  26.169091       22     0.358316
West Dawnfurt                   34     Urban  22.330345       29     1.015228
Rodriguezburgh                  52     Urban  21.332609       23     1.552702
South Josephville                4     Urban  26.823750       24     0.119439
West Sydneyhaven                70     Urban  22.368333       18     2.090176
Travisville                     37     Urban  27.220870       23     1.104807
Torresshire                     70     Urban  24.207308       26     2.090176
Lisaville                       66     Urban  28.428929       28     1.970738
Mooreview                       34     Urban  29.520476       21     1.015228
Smithhaven                      67     Urban  22.788889       27     2.000597
Carrollfort                     55     Urban  25.395517       29     1.642281
Port Josephfurt                 28     Urban  26.367727       22     0.836070
Lake Jeffreyland                15     Urban  27.334800       25     0.447895
South Louis                     12     Urban  27.087500       32     0.358316
West Peter                      61     Urban  24.875484       31     1.821439
Kimberlychester                 13     Urban  22.947037       27     0.388176
Alyssaberg                      67     Urban  20.609615       26     2.000597
Sarabury                        46     Urban  23.490000       27     1.373544
Yolandafurt                      7     Urban  27.205500       20     0.209018
Edwardsbury                     11     Urban  26.876667       27     0.328456
New Andreamouth                 42     Urban  24.966786       28     1.254106
New David                       31     Urban  27.084286       28     0.925649
Arnoldview                      41     Urban  25.106452       31     1.224246
Williamshire                    70     Urban  26.990323       31     2.090176
Lisatown                        47     Urban  22.225217       23     1.403404
New Aaron                       60     Urban  26.861818       22     1.791580
Swansonbury                     64     Urban  27.464706       34     1.911018
Fosterside                      69     Urban  23.034583       24     2.060317
...                            ...       ...        ...      ...          ...
New Lynn                        20  Suburban  28.454615       13     0.597193
Port Jose                       11  Suburban  31.193889       18     0.328456
Johnland                        13  Suburban  28.752778       18     0.388176
West Tony                       17  Suburban  29.609474       19     0.507614
Port James                       3  Suburban  31.806562       32     0.089579
Campbellport                    26  Suburban  33.711333       15     0.776351
Port Guytown                    26  Suburban  28.242000       15     0.776351
Webstertown                     26  Suburban  29.721250       16     0.776351
Clarkstad                       21  Suburban  31.051667       12     0.627053
North Tracyfort                 18  Suburban  26.856000       10     0.537474
Martinmouth                      5  Suburban  30.498889        9     0.149298
New Jessicamouth                22  Suburban  32.810588       17     0.656913
South Elizabethmouth             3     Rural  28.698000        5     0.089579
East Troybury                    3     Rural  33.244286        7     0.089579
Kinghaven                        3     Rural  34.980000        6     0.089579
New Johnbury                     6     Rural  35.042500        4     0.179158
Erikport                         3     Rural  30.043750        8     0.089579
Jacksonfort                      6     Rural  32.006667        6     0.179158
Shelbyhaven                      9     Rural  34.828333        6     0.268737
Matthewside                      4     Rural  43.532500        4     0.119439
Kennethburgh                     3     Rural  36.928000       10     0.089579
South Joseph                     3     Rural  38.983333       12     0.089579
Manuelchester                    7     Rural  49.620000        1     0.209018
Stevensport                      6     Rural  31.948000        5     0.179158
North Whitney                   10     Rural  38.146000       10     0.298597
East Stephen                     6     Rural  39.053000       10     0.179158
East Leslie                      9     Rural  33.660909       11     0.268737
Hernandezshire                  10     Rural  32.002222        9     0.298597
Horneland                        8     Rural  21.482500        4     0.238877
West Kevintown                   5     Rural  21.528571        7     0.149298

[126 rows x 5 columns]

In [265]:
typeCity = result.groupby(['type'])
typeCity

In [266]:
#% of Total Fares by City Type
urbanCount = 0
ruralCount = 0
suburbCount = 0

for x in result['type']:
    if(x == 'Urban'):
        urbanCount = urbanCount + 1
    elif(x == 'Rural'):
        ruralCount = ruralCount + 1
    elif(x == 'Suburban'):
        suburbCount = suburbCount + 1
    else:
        #do nothing
        print('no type')
    
ruralCount

18

In [310]:
rideCityType = []
numberOfRides = 0

for x in rideFile['city']:
    typeOfCity = (cityFile.loc[cityFile['city'] == x, 'type']).values[0]
    rideCityType.append(typeOfCity)
    numberOfRides = numberOfRides + 1
    
list(rideCityType)

#question: below, how can i get just the words 'urban' in the type column, without the dtype?
rideFile['type'] = rideCityType
rideFile

                      city                 date   fare        ride_id   type
0                 Sarabury  2016-01-16 13:49:27  38.35  5403689035038  Urban
1                South Roy  2016-01-02 18:42:34  17.49  4036272335942  Urban
2              Wiseborough  2016-01-21 17:35:29  44.18  3645042422587  Urban
3              Spencertown  2016-07-31 14:53:22   6.87  2242596575892  Urban
4               Nguyenbury  2016-07-09 04:42:44   6.28  1543057793673  Urban
5              New Jeffrey  2016-02-22 18:36:25  36.01  9757888452346  Urban
6            Port Johnstad  2016-06-07 02:39:58  17.15  4352278259335  Urban
7                Jacobfort  2016-09-20 20:58:37  22.98  1500221409082  Urban
8              Travisville  2016-01-15 17:32:02  27.39   850152768361  Urban
9               Sandymouth  2016-11-16 07:27:00  21.61  2389035050524  Urban
10         New Andreamouth  2016-04-11 07:20:48   7.72  9992929847990  Urban
11           New Christine  2016-09-13 15:06:42  24.89  7918411468537  Urban
12             Stewartview  2016-03-29 05:15:56  23.88  6778235889588  Urban
13          Rodriguezburgh  2016-09-05 05:20:39   4.54  9650770953139  Urban
14        West Sydneyhaven  2016-08-02 21:18:44  12.87  7994760397230  Urban
15             Swansonbury  2016-07-11 18:42:11  39.30   744481862626  Urban
16                Lisatown  2016-07-05 18:09:14   5.82  6370359473201  Urban
17               East Erin  2016-11-03 01:03:05   7.51  4744239092530  Urban
18         Port Martinberg  2016-01-06 17:11:30   8.66  7298562820881  Urban
19             Wiseborough  2016-09-12 18:43:41  26.83  9304728540000  Urban
20             Edwardsbury  2016-02-27 03:55:54  20.17  8514523868075  Urban
21               Jacobfort  2016-06-12 17:01:29  34.47  4135673527977  Urban
22             Pamelahaven  2016-03-26 12:56:57  36.43  3015329826849  Urban
23              Fosterside  2016-08-12 11:52:41  28.08   133077693483  Urban
24               Jacobfort  2016-09-17 12:38:58  38.25  2182376146051  Urban
25        West Sydneyhaven  2016-08-23 14:49:59  36.12  5885997568611  Urban
26             West Alexis  2016-01-16 00:33:02  26.62  1574788996743  Urban
27             Carrollfort  2016-06-24 20:11:11   6.45  1092683495142  Urban
28               New David  2016-01-12 20:48:43  38.68  5229089333754  Urban
29             Stewartview  2016-10-15 05:26:40  11.74  8402784599831  Urban
...                    ...                  ...    ...            ...    ...
2345        West Kevintown  2016-06-15 19:53:16  13.50  9577921579881  Rural
2346           Matthewside  2016-02-23 00:43:51  40.84  8665248512368  Rural
2347              Erikport  2016-11-26 04:39:52  44.21  9598643212986  Rural
2348             Kinghaven  2016-07-23 08:23:50  46.08  8440329717166  Rural
2349        Hernandezshire  2016-02-24 17:30:44  44.68  6389115653382  Rural
2350          Kennethburgh  2016-01-01 04:31:43  33.53  5149088250183  Rural
2351           Stevensport  2016-02-22 02:45:07  19.91   808097865942  Rural
2352  South Elizabethmouth  2016-11-23 07:47:18  46.39  1939838068038  Rural
2353          East Stephen  2016-07-30 21:25:01  35.39  1107870956099  Rural
2354           Jacksonfort  2016-10-01 13:41:00  34.17  7750597960630  Rural
2355          Kennethburgh  2016-04-30 20:44:27  23.58  4524301143267  Rural
2356             Horneland  2016-03-25 02:05:42  20.04  5729327140644  Rural
2357           Shelbyhaven  2016-01-25 01:39:16  59.43  8088329954312  Rural
2358              Erikport  2016-08-03 21:19:11  47.67  9201708664049  Rural
2359          Kennethburgh  2016-11-19 06:59:31  18.37  5897895798960  Rural
2360           Jacksonfort  2016-10-20 16:42:54  37.75  4356781814784  Rural
2361          South Joseph  2016-10-15 03:53:06  32.50  2758038144583  Rural
2362           Matthewside  2016-05-18 02:00:30  48.67  2049161404256  Rural
2363           Matthewside  2016-08-08 14:02:35  24.97  2872494724827  Rural
2364          South Joseph  2016-10-28 09:52:15  25.34  6706101910500  Rural
2365  South Elizabethmouth  2016-07-19 09:35:59  31.09  2959749591417  Rural
2366         North Whitney  2016-11-11 16:24:16  22.99  3454326063039  Rural
2367          New Johnbury  2016-08-29 02:36:06  18.83  7368222134792  Rural
2368           East Leslie  2016-06-22 07:45:30  34.54   684950063164  Rural
2369          Kennethburgh  2016-06-07 11:43:43  56.02   311733202150  Rural
2370        West Kevintown  2016-02-10 00:50:04  34.69  9595491362610  Rural
2371         East Troybury  2016-03-14 01:55:32  38.80  9205811495606  Rural
2372         North Whitney  2016-01-26 01:06:41  34.92  4165974278063  Rural
2373          South Joseph  2016-09-28 07:30:55  12.55  4336212615821  Rural
2374  South Elizabethmouth  2016-04-21 10:20:09  16.50  5702608059064  Rural

[2375 rows x 5 columns]

In [336]:
#PERCENT OF TOTAL FARES PER CITY TYPE

cityFareSums = rideFile.groupby('type').sum()
cityFareSums

              fare           ride_id
type
Rural      4255.09   658729360193746
Suburban  19317.88  3006404300903080
Urban     40078.34  7890194186030600

In [337]:
#PERCENT OF TOTAL FARES PER CITY TYPE
cityFares = cityFareSums.drop('ride_id',1)
cityFares = cityFares.rename(columns={"fare": "TotalFares"})
cityFares

          TotalFares
type
Rural        4255.09
Suburban    19317.88
Urban       40078.34

In [339]:
#PERCENT OF TOTAL FARES PER CITY TYPE (answer)
totalFares = 0

farePercentages = []
#get total fares
for x in cityFares['TotalFares']:
    totalFares = totalFares + x
for x in cityFares['TotalFares']:
    percent = (x/totalFares)*100
    farePercentages.append(percent)

cityFares['Percent'] = farePercentages
cityFares

          TotalFares   Percent
type
Rural        4255.09   6.68500
Suburban    19317.88  30.34954
Urban       40078.34  62.96546

In [315]:
cityRideSums = rideFile.groupby('type').count()
cityRideSums

          city  date  fare  ride_id
type
Rural      125   125   125      125
Suburban   625   625   625      625
Urban     1625  1625  1625     1625